{% macro LinkDanger (label, url, id, icon) %}
    <a href="{{ url }}" id="{{ id }}" class="btn btn-danger">
        {% if icon is not empty %}<i class="glyphicon {{ icon }}"></i> {% endif %}{{ label }}
    </a>
{% endmacro %}

{% macro LinkInfo (label, url, id, icon, class) %}
    <a href="{{ url }}" id="{{ id }}" class="btn btn-info {{ class }}">
        {% if icon is not empty %}<i class="glyphicon {{ icon }}"></i> {% endif %}{{ label }}
    </a>
{% endmacro %}

{% macro LinkPrimary (label, url, id, icon, class) %}
    <a href="{{ url }}" id="{{ id }}" class="btn btn-primary {{ class }}">
        {% if icon is not empty %}<i class="glyphicon {{ icon }}"></i> {% endif %}{{ label }}
    </a>
{% endmacro %}

{% macro Submit (label = 'Opslaan', icon = 'icon-ok') %}
    <button type="submit" class="btn btn-success">{% if icon is not empty %}<i class="icon {{ icon }} icon-white"></i> {% endif %}{{ label }}</button>
{% endmacro %}

