.font(@file, @name) {
  font-family: @name;
  src: url('@{file}.eot');
  src: url('@{file}.eot#iefix') format('embedded-opentype'),
  url('@{file}.woff') format('woff'),
  url('@{file}.ttf') format('truetype'),
  url('@{file}.svg#@{name}') format('svg');
}

.ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}

.ie7-restore-right-whitespace() {
  *margin-right: .3em;

  &:last-child {
    *margin-left: 0;
  }
}
