{% set types = ['danger', 'success', 'info'] %}
{% for type in types %}
    {% set messages = app.session.flashbag.get(type) %}
    {% if messages is not empty %}
        <div class="alert alert-{{ type }}">
            {% if messages|length == 1 %}
                {{ messages[0] }}
            {% else %}
                <ul class="dashed">
                    {% for m in messages %}
                        <li>{{ m }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
