<div class="checkbox">
    <label>
        <input type="checkbox" name="{{ name }}" {% if params.value == 1 %}checked="checked" {% endif %}id="{{ id }}" value="1"> {{ params.label }}
    </label>
</div>