    <div class="form-group">
        <label for="{{ id }}">{{ params.label }}</label>
        {# Datepicker in Chrome is useless #}
        <input type="text" name="{{ name }}" class="form-control datepicker" id="{{ id }}" value="{{ params.value }}" placeholder="{{ params.label }}">
    </div>