    <div class="form-group">
        <label for="{{ id }}">{{ params.label }}</label>
        <input class="form-control" type="password" name="{{ name }}" id="{{ id }}" placeholder="{{ params.label }}">
    </div>