    <div class="form-group">
        <label for="{{ id }}">{{ params.label }}</label>
        <select name="{{ name }}" id="{{ id }}" class="form-control">
            <option value="">-</option>
            {% for key, value in params.data %}
                <option value="{{ key }}"{% if key == params.value %} selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    </div>