<div class="form-group">
    <label for="id">{{ params.label }}</label>
    <textarea class="form-control" name="{{ name }}" id="{{ id }}" placeholder="{{ params.label }}">{{ params.value }}</textarea>
</div>