    <div class="form-group">
        <label for="{{ id }}">{{ params.label }}</label>
        <input class="form-control" type="text" name="{{ name }}" id="{{ id }}" value="{{ params.value }}" placeholder="{{ params.label }}">
    </div>